################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RouteMapApplication/.vs
/.vs
/RouteMapApplication/RouteMapApplication/bin/Debug/net6.0
/RouteMapApplication/RouteMapApplication/obj/Debug/net6.0
/RouteMapApplication/RouteMapApplication/obj/project.assets.json
/RouteMapApplication/RouteMapApplication/obj/project.nuget.cache
/RouteMapApplication/RouteMapApplication/obj
/GroundControlStationV1/.vs/GroundControlStationV1
/GroundControlStationV1/GroundControlStationV1/obj
